/*
 index.css，主要修饰index.html，同时也是其他html的基础样式。
 其他.html文件调用本文件时放在其他外联部样式前面，放在前面的css能被后面的css覆盖。
*/

/**
 *
 以下是公共部分
*/
body
{
    height:1000px;
    margin:0;
    padding:0;
    background: url("../img/B1.jpg") no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
/*去掉所有input聚焦时的自动出现的蓝色外边框*/
input:focus
{
   outline: none;
}
button
{
    outline: none;
}
#content
{
    width:70%;
    height:98%;
    margin:1% auto;
    background-color: #fff;
    /*阴影*/
    box-shadow:0px 0px 10px 5px #666;
}

/**
 *
 顶部和头部 公共部分
*/
.head
{
    width: 100%;
    height:8%;
    margin: auto;
    background-color: #f6f6f6;
}
.Logo
{
    width: 60px;
    height: 50px;
    margin:16px 46%;
}
.top
{
    height: 4%;
    margin-bottom: 1%;
    padding-left: 85%;
}
.icon
{
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

/**
 *
 留言板 公共部分
*/
.board
{
    width: 85%;
    height:80%;
    margin: auto;
}
.board ul
{
    height: 100%;
}
.board ul li
{
    list-style: none;
    height: 18%;
    border: 1px solid #666666;
    margin-bottom: 2%;
}
.board-top
{
    height: 29%;
}
.board-top-left
{
    width: 20%;
    padding: 1% 1%;
    font-size: 14px;
}
.board-top-right
{
    width: 7%;
    height: 20px;
    margin-top: -6.5%;
    margin-left: 92%;
    position: relative;
}
.board-top-right input
{
    width: 20px;
    height: 20px;
    margin-right: 2px;
    margin-left: 2px;
    float: right;
}
#username
{
    position: absolute;
    margin-left:10px;
    margin-top: 5px;
    color: #333;
}
#time
{
    position: absolute;
    margin-left:5px;
    margin-top: 25px;
    font-size: 10px;
    color:#888;
}
.headshot
{
    height:40px;
    width:40px;

}
#board-content
{
    width: 96%;
    height: 66%;
    margin: auto;
}

/**
 *
 底部跳页 公共部分
*/
.foot
{
    height: 4%;
    margin-top: 1%;
}
.foot-jump
{
    width: 30%;
    margin-left: 70%;
}
.foot-jump input
{
    width: 20px;
    height: 20px;
}
/*箭头：旋转180*/
.foot-jump input[title="previous"]
{
    transform: rotate(180deg);
}
/*修饰input*/
.foot-jump input[type="text"]
{
    -webkit-appearance: none;
    outline: none;
    width: 20px;
    height: 9px;
    margin-top: 10px;
    margin-left: 40px;
}
.foot-jump input[title="jump"]
{
    width:25px;
    height:25px;
    border:none;
    margin-left: 10px;
}

/**
 *
 版权 公共部分
*/
.copyright
{
    height: 3%;
    text-align: center;
    line-height:30px;
    color: #aaa;
    background-color: #f0f0f0;
    float: bottom;
}