/*
修饰myBoard.html, Manager.html
*/

/**
 *
 顶部、头部、返回按钮 公共部分
*/
.Logo
{
    width: 60px;
    height: 55px;
}
.head [title="news"]
{
    position: absolute;
    margin-top: -4%;
    margin-left: 62%;
}
.icon
{padding: 0;}
.top
{height:4%;margin-bottom: 1%;padding-left: 0;}
.top [title="leave"]
{
    padding-top:7px;
    padding-left: 15px;
    margin-left: 4%;
    margin-top: 1%;
}
/**
 *
 以下是 myBoard头部输入框
*/
.top [title="iw"]
{
    width: 57.4%;
    height: 4%;
    position: absolute;
    margin-left: 7.2%;
    margin-top: -3%;
    padding-top: 8px;
    border: 1px solid #666666;
}
.top [title="write"]
{
    width: 24px;
    height: 24px;
    float: right;
    padding-right: 1%;
    margin-top: -5px;
}
